eventlet
Flask~=2.0.2
Flask-MQTT
Flask-SocketIO
pytest~=6.2.5
pip~=20.2.4
py~=1.11.0
setuptools~=49.2.1
monkey~=0.1
click~=8.0.3
gevent~=21.8.0
Werkzeug~=2.0.2
paho-mqtt~=1.6.1
arrow~=1.2.1
requests~=2.26.0
wheel~=0.37.0
openssl~=1.1.1l
python-dotenv~=0.19.2