arrow==1.2.2
click==8.0.3
eventlet==0.33.0
Flask==2.0.2
Flask-MQTT==1.1.1
Flask-SocketIO==5.1.1
gevent==21.12.0
monkey==0.1
paho-mqtt==1.6.1
pip==22.0.2
py==1.11.0
pyOpenSSL==22.0.0
pytest==6.2.5
python-dotenv==0.19.2
requests==2.27.1
setuptools==60.6.0
Werkzeug==2.0.2
wheel==0.37.1
